@import "../../global.scss";

.container-footer {
    position: absolute;

    bottom:0;
    width:100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem;

    background: linear-gradient(to right, #a8ff78, #78ffd6);
    color: $base-shadow-color;
    font-weight: 500;
}

.sans-serif {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: sans-serif;
}